<h2>Orders</h2>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%@orders.each do |o|%>
      <td  class="text-center"><%=o.item_id%></td>
      <td class="text-center"><%=o.itemname%></td>
      <td class="text-center"><%=o.quantity%></td>
      <td class="text-center"><%=o.item_price%></td>
      <td class="text-center"><%=o.item_price * o.quantity%></td>
    </tr>
      <%end%>
  </tbody>
</table>
<%=link_to"back", root_path%>
