<h2>Total Articles</h2>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Ratings</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%@article_all.each do |a|%>
      <td  class="text-center"><%=a.id%></td>
      <td class="text-center"><%= image_tag a.articleimg.url(:thumb) %></td>
      <td class="text-center"><%=a.name%></td>
      <td class="text-center"><%=a.quantity%></td>
      <td class="text-center">
        <%a.usr_rating.times do %>
        <img src="/assets/star-on.png">
        <% end %>
      </td>
      <td class="text-center"><%=a.price%></td>
      <td class="text-center"><%=a.price*a.quantity%></td>
    <td class="text-center"><%=link_to"edit",edit_article_path(a.id)%></td>
    <td class="text-center"><%=link_to"delete",article_path(a.id),method: :delete%></td>
    </tr>
      <%end%>
  </tbody>
</table>
<%=link_to"New Article", new_article_path%>
